body{
    margin-left: 20px;
}

.chats{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   
}
.chat{
    /* display: flex; */
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #c9eef9d8;
    
}